.banner {
    height: 100vh;
    width: 33.3%;

    background-color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;
}

.banner__logo-unialfa {
    width: 90%;
}

@media (max-width: 1024px){
    .banner {
        display: none;
    }
}

@media screen and (max-width: 768px){
    .banner {
        display: none;
    }
}

@media screen and (max-width: 425px){
    .banner {
        display: none;
    }
}

