.calculadora {
    height: 100vh;
    width: 66.6%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculadora__containner {
    height: 80%;
    width: 85%;
}

.containner__tittle {
    height: 5%;
    width: 100%;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo {
    margin: 0.5rem 2rem;
    font-size: 2.3rem;
    color: #ffffff;
    font-family: var(--fonte-padrao);
    font-weight: bold;
    text-align: center;
}


.imput__nota::placeholder {
    font-family: var(--fonte-padrao);
    text-align: center;
    color: rgb(150, 150, 150);
}

.containner__registro {
    height: 95%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registro__historico {
    height: 100%;
    width: 50%;
    border: 5px solid var(--vermelho-unialfa);
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    font-family: var(--fonte-padrao);
    display: flex;
    flex-direction: column;
    color: #000000;
}

.historico__titulo {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo__registro {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: var(--fonte-padrao);
    text-align: center;
}

.historico__notas {
    height: 90%; 
    width: calc(100% - 1rem);
    text-align: justify;
    padding: 0.5rem;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    border: 1px;
}

.notas {
    width: calc(100% - 0.4rem);
    margin: 0.2rem;
    background-color: rgba(115, 115, 115, 0.456);
    border: 1px solid;
    text-align: center;
    border-radius: 0.4rem;
    font-family: var(--fonte-padrao);
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo__notas {
    font-family: var(--fonte-padrao);
    font-size: 1.5rem;
    width: 100%;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem;
    color: #ffffff;
    background-color: #ff0000;
}

.form_linha {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notas__n1 {
    height: 27%;
}
.notas__n2 {
    height: 27%;
}
.notas__n3 {
    height: 23%;
}
.notas__n4 {
    height: 23%;
}

.label {
    display: inline-block;
}

.input__notas {
    width: 3rem;
}

.botao {
    border-radius: 0.3rem;
    font-size: 0.9rem ;
    background-color: #a20000;
    color: #ffffff;
    margin: 0.2rem;
    box-shadow: inset 1px 1px 1px 1px #ff0000;
}

.botao:hover {
    background-color: #710101;
}

.resultado {
    margin: 0.2rem;
}


.historico__notas::-webkit-scrollbar {
    width: 0px;
}

.texto__conteudo {
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    margin: 1rem;
    text-align: justify;
}

.registro__feedback {
    height:60%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px;
    background-color: rgb(255, 255, 81);
    font-family: var(--fonte-nota);
}


.feedback__titulo {
    font-size: 1.3rem;
    padding: 0.5rem ;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
    color: #000000;
    border-bottom: 1px solid ;
}

.feedback__texto {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 0.5rem;
    overflow: scroll;
    color: #ff0000;
    font-weight: bold;
}

.feedback__texto::-webkit-scrollbar {
width: 0px;
}

/* RESPONSIVIDADE */

@media (max-width: 1300px){
    .banner {
        display: none;
    }
    .calculadora {
        width: 100%;
    }

    .titulo {
        font-size: 2rem;

    }
    .titulo__registro {
        font-size: 1.3rem;
    }
    .botao {
        font-size: 0.8rem ;
    }

} 

@media (max-width: 1024px){
    .label {
        font-size: 0.8rem;
    }
    .titulo {
        font-size: 2rem;

    }
  

} 

@media screen and (max-width: 839px){
    .label {
        font-size: 0.7rem;
    }
    .botao {
        font-size: 0.7rem ;
    }
    .titulo__notas{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 755px){
    .label {
        font-size: 0.65rem;
    }
    .titulo__notas{
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 715px){
    .label {
        font-size: 0.6rem;
    }
    .feedback__titulo{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 555px){
    .feedback__titulo{
        font-size: 1rem;
    }
}
